body {
    box-sizing: border-box;
    background: #f6f6f6;
}

* {
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
}

.header-container {
    position: relative;
    z-index: 100;
}

.logo {
    font-weight: 900;
    font-size: 40px;
    font-family: cambria;
    margin: 10px;
    color: #ff5a4c;
}

.logo:hover {
    filter: contrast(400%);
}

.banner {
    margin-top: -80px;
    height: 50vh;
    position: relative;
    background: url("../images/banner/banner1.PNG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner h2 {
    padding:10px;
}

.banner-container {
    position: absolute;
    color: #fff;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 24px;
    color: #ff5a4c;
}

.buttom-banner {
    background: #0c0219;
    border: none;
    color: #ff5a4c;
    padding: 15px;
    font-size: 25px;
    border-radius: 5%;
}

.buttom-banner:hover {
    background: none;
    border: 3px solid #ff5a4c;
    color: #ff5a4c;
    font-weight: 900;
}

.galeria h2 {
    color: #ff5a4c;
    text-align: center;
    font-size: 35px;
}

.galeria {

    margin: 20px;
}

.team h2 {
    color: #ff5a4c;
    text-align: center;
    font-size: 35px;
}

.team {
    margin: 20px;
}

.team-grid__img {
   padding: 20px;
}

.team-grid__img img {
    border-radius: 50%;

}

.team p {
    color: #0c0219;
    font-size: 25px;
    margin: 20px;
    text-align: justify;

}

.team-grid {
    display: grid;
    grid-gap: 10px;
    margin: 20px;
}

.info h3 {
    color: #0c0219;
    font-size: 30px;
}
.info p {
    color: #0c0219;
}

.info {
    border-bottom: 1px solid #0c0219;
    text-align: center;
}
.info-decs {
    margin: 20px;
    color: #0c0219;
}

.info .container {
    display: grid;
    grid-gap: 10px;
    background-color: #ff5a4c;
    width: 100%;
}

.msg {
    height: 50vh;
    position: relative;
    background: url('../images/banner/banner2.PNG');
    background-size: cover;
    background-position: center;
    color: #ff5a4c;
}

.msg p {
    font-size: 30px;
    padding-bottom: 10px;
}

.msg h4 {
    font-size: 40px;
}

.msg-desc {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
}

@media(min-width: 520px) {
    .banner h2 {
        font-size: 45px;
    }

    .galeria-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

    .galeria-grid img {
        object-fit: cover;
        height: 100%;
    }

    .team .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .info .container {
        grid-template-columns: repeat(3, 150px);
        justify-content: space-evenly;
    }

    .msg h4 {
        font-size: 50px;
    }

    .msg p {
        font-size: 35px;
    }

}

@media(min-width: 728px) {
    .team .team-grid {
        grid-template-columns: repeat(2, 250px);
        justify-content: center;
    }
    .team p {
        text-align: center;
    }
}

@media(min-width: 1024px) {
    .container {
        width: 1000px;

    }

    .banner h2 {
        font-size: 50px;
    }

    .galeria-grid {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

        grid-auto-flow: dense;
        grid-auto-rows: 200px;
    }

    .big {
        grid-column: span 2;
        grid-row: span 2;
    }

    .msg p {
        font-size: 40px;
    }

}

